<html>
    <head>
    <title>Predicción precio de carros usados!</title>
    <link rel="stylesheet" href="css/index.css" />
    <meta charset="UTF-8">
    </head>

    <body>
        
        <div id="datosCarroContainer">
            <h1>Guía de precio de carros usados</h1>
            <h3>Les presentamos una guía de referencia del valor comercial promedio de su vehículo</h3>
        </div>
        <div id="datosCarroContainer">
                <h1>Consulta el valor del carro que quieres vender o comprar</h1>
            <div>
                <div id="marcaContainer">
                     <h3>Marca</h3>   

                   
                </div>
                <div id="modeloContainer">
                    <h3>Modelo</h3>   
                  
                </div>
                 <div id="añoContainer">
                    <h3>Año</h3>


              
                </div>
                <div id="kilometrajeContainer">
                    <h3>Kilometraje</h3>   
                 
                   </div>
                   <div id="motorContainer">
                    <h3>Motor</h3>   
                 
                   </div>
                   <div id="transmisionContainer">
                    <h3>Transmisión</h3>   
                    Automatica
                    Mecanica
                    Automatica secuencial

                    
                   </div>
            </div>
            
        </div>
    
    </body>
</html>